<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div style='float: left;'>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Имя пользователя</mat-label>
          <input type="text" matInput formControlName="username" required placeholder="Логин (номер телефона)">
          <!--input type="text" matInput [formControl]="login" required placeholder="Имя пользователя"-->
      </mat-form-field>
    </div>
    <div>
      <label>Пароль</label>
      <input type="password" formControlName="password" required placeholder="Пароль">
    </div>
  </div>
  <div>
    <button type="submit">Войти</button>
  </div>
</form>
