<div>
    <ul class="timetable">
        <li *ngFor="let req of reqstatus">
            <span class="badge">{{req.vid}}</span> <span>{{req.begin | date:'dd.MM.yyyy HH:mm'}} - {{req.end | date:'dd.MM.yyyy HH:mm'}}</span>
        </li>
    </ul>
</div>
<h2>
    <label>
        <input
            type='checkbox'
            [checked]='calendarVisible'
            (change)='handleCalendarToggle()'
        />
        Календарь
    </label>
</h2>
<div class='demo-app'>
	<div class='demo-app-main'>
		<full-calendar  #calendar
			*ngIf='calendarVisible'
			[options]="calendarOptions">
		</full-calendar>
	</div>
</div>
