<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/instructors" mat-list-item href="/instructors">Инструкторы</a>
      <a routerLink="/profile" mat-list-item href="/profile">Профиль</a>
      <!--a routerLink="/login" mat-list-item href="/login">Логин</a-->
      <!--a routerLink="/instrlist" mat-list-item href="/instrlist">Список</a-->
    </mat-nav-list>
    <div class="inline">
      <p>Город:&nbsp;</p>
    </div>
    <div class="inline">
      <a *ngIf="!chCity" href="#" (click)="clickCity()">{{City}}</a>
      <!--input #cityinput *ngIf="chCity" [(ngModel)]="City" (keyup.enter)="saveCity(cityinput.value)"-->

      <form *ngIf="chCity" class="citylist-form">
        <mat-form-field class="citylist-full-width">
          <input type="text"
            #cityinput
            [(ngModel)]="City"
            (keyup.enter)="saveCity(cityinput.value)"
            (blur)="saveCity(cityinput.value)"
            placeholder="Выберите город"
            aria-label="город"
            matInput
            [formControl]="Citylist"
            [matAutocomplete]="auto" />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <app-login></app-login>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><app-nav></app-nav></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
