.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inline{
  display:inline-block;
  word-wrap: none;
}

.citylist-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.citylist-full-width {
  width: 100%;
}
