<div class="instructor">
	<h1>Инструктор: {{instructor.name}} </h1>
	<!--p>Ид. инструктора: {{instructor.id}}<p-->
	<p>Город: {{instructor.city}}</p>
	<p>Школа: {{instructor.school}}</p>
	<p>Стаж с: {{instructor.experience}} лет</p>
	<p>Автомобиль: {{instructor.mark}} {{instructor.model}}</p>
	<p>Коробка передач: {{instructor.transmission}}</p>
</div>

<h2>Записи ({{currentEvents.length}}):</h2>
<ul>
	<!--li *ngFor='let event of currentEvents'>
		<b>{{event.startStr}}</b>
		<i>{{event.title}}</i>
	</li-->
	<li *ngFor='let timerecord of timetable'>
		<b>{{timerecord.vid}}</b> <i>"{{timerecord.name}}"</i>: {{timerecord.begin | date:'dd.MM.yyyy HH:mm'}} - {{timerecord.end | date:'HH:mm'}}
	</li>
</ul>

<h2>
	<label>
		<input
			type='checkbox'
			[checked]='calendarVisible'
			(change)='handleCalendarToggle()'
		/>
		Календарь
	</label>
</h2>

<div class='demo-app'>
	<div class='demo-app-main'>
		<full-calendar
			*ngIf='calendarVisible'
			[options]="calendarOptions">
		</full-calendar>
	</div>
</div>